# Markdown Docblock

snippet db_file
	/* #File `Filename('$1')
	 * ${1}
	 *
	 */

snippet db_mod
	/* #Module ${1}
	 * * ${2}
	 */

snippet db_auth
	/* Author: ${1} <${2}> (${3})
	 * Date: `system("date +%Y-%m-%d")`
	 * License: ${4}
	 */

snippet db_var
	/* #Variable ${1}
	 * ${2}
	 */

snippet db_fn
	/* #Function ${1}
	 * #Parameters
	 * * ${2} - ${3} - ${4}
	 */
